<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Archival</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div class="top">
        <img src="assets/logo.png" alt="Blue Archival" class="logo">
    </div>

    <div class="list" id="students">
        <div class="student">
            <img src="assets/images/shiroko.webp" alt="Shiroko" class="correct">
            <div class="rarity">3</div>
            <div class="role">striker</div>
            <div class="class">attacker</div>
            <div class="position">middle</div>
            <div class="terrain">
                <div class="city">excellent</div>
                <div class="desert">neutral</div>
                <div class="indoor">terrible</div>
            </div>
            <div class="attack">explosion</div>
            <div class="defense">light armor</div>
        </div>

        <table class="student-tb">
            <tr>
                <th>Student</th>
                
            </tr>
        </table>
    </div>
</body>
</html>