<!DOCTYPE html>
<html lang="en" id="root">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlueArchival</title>
    <link rel="stylesheet" href="assets/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="assets/scripts/main.js"></script>
</head>
<body id="body">
    <div class="top">
        <img src="assets/logo.png" alt="BlueArchival" class="logo">
    </div>

    <!-- <h2 style="color: red; width:100vw; padding:0; margin: 0;text-align: center;">THIS GAME IS A DEMO. IT IS NOT FINISHED.</h2><br>
    <h3 style="color: red; width:100vw; padding:0; margin: 0;text-align: center;">There are currently only 28 implemented students. All students will be implemented in the future.</h3><br><br> -->

    <div class="info">
        <h3>You get unlimited tries to guess the Blue Archive student.<br>Green means the category is correct. Red means it is incorrect. Orange means partially correct.</h3>
    </div>

    <div class="share" id="share">
        <h2 id="final">You got it! The student was </h2>
        <button id="share-button" onclick="GenerateShare()">Share Results</button>
    </div>

    <div class="search">
        <!-- first button exists solely for visual alignment -->
        <button>Enter</button>
        <input type="text" class="entry" id="entry" placeholder="Search Students">
        <button id="submit">Enter</button>
    </div>
    <div class="searchlist">
        <p id="did-you-mean">start typing to get results...</p>
    </div>

    <div class="list">
        <table class="student-tb" id="students">
            <tr class="header" id="student-tb-header">
                <th>Student</th>
                <th>School</th>
                <th>Rarity</th>
                <th>Class</th>
                <th>Position</th>
                <th>Attack</th>
                <th>Defense</th>
                <th>Role</th>
                <th><img src="assets/images/city.webp" /> <img src="assets/images/desert.webp" /> <img src="assets/images/indoor.webp" /></th>
                <th>Cover?</th>
            </tr>
            <tr id="waiting"><td class="waiting">Waiting for first guess...</td></tr>
            <!-- <tr class="student-entry">
                <td>Shiroko</td>
                <td>Abydos</td>
                <td>3</td>
                <td>Attacker</td>
                <td>Middle</td>
                <td>Explosive</td>
                <td>Light</td>
                <td>Striker</td>
                <td>NTE</td>
                <td>Yes</td>
            </tr> -->
        </table>
    </div>
</body>
</html>